<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Simple Auto Complete</h5>
      <p class="basic-container">
        <app-auto-complete></app-auto-complete>
      </p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Auto Complete / Filter For Drop Down</h5>
      <p class="basic-container">
        <app-auto-complete-states></app-auto-complete-states>
      </p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Date Picker and Events</h5>
      <p class="card-text">
        <app-date-picker></app-date-picker>
      </p>

    </div>
  </div>
</div>
<br/>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Radio Button Group</h5>
      <p class="mat-app-background basic-container">
        <app-radio-group></app-radio-group>
      </p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Checkboxes</h5>
      <p class="mat-app-background basic-container">
        <app-check-box></app-check-box>
      </p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Select / Drop Down Box</h5>
      <p class="card-text">
        <app-select-box></app-select-box>
      </p>

    </div>
  </div>
</div>
<br/>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Query Progress Bar</h5>
      <p class="mat-app-background basic-container">
        <app-progress-bar>loading...</app-progress-bar>
      </p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Loading Spinner</h5>
      <p class="basic-container">
        <app-loading-spinner></app-loading-spinner>
      </p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Badges</h5>
      <p class="card-text">
        <app-badge-indicator></app-badge-indicator>
      </p>

    </div>
  </div>
</div>
<br/>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Data Table with Sorting, Paging and Filtering</h5>
      <p class="mat-app-background basic-container">
        <app-data-table></app-data-table>
      </p>
    </div>
  </div>
</div>
<br/>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tab Panel</h5>
      <p class="mat-app-background basic-container">
        <app-tab-panel></app-tab-panel>
      </p>
    </div>
  </div>
</div>
<br/>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Dynamic Tab Panel</h5>
      <p class="mat-app-background basic-container">
        <app-dynamic-tab-panel></app-dynamic-tab-panel>
      </p>
    </div>
  </div>
</div>

<br/>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Stepper / Wizard</h5>
      <p class="mat-app-background basic-container">
        <app-wizard-steps></app-wizard-steps>
      </p>
    </div>
  </div>
</div>
<br/>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Expand Panel</h5>
      <p class="mat-app-background basic-container">
        <app-expand-panel></app-expand-panel>
      </p>
    </div>
  </div>  
</div>
<br/>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Drag and Drop List</h5>
      <p class="mat-app-background basic-container">
        <app-drag-drop-single></app-drag-drop-single>
      </p>
    </div>
  </div> 
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Double List Drag and Drop</h5>
      <p class="mat-app-background basic-container">
        <app-drag-drop-double></app-drag-drop-double>
      </p>
    </div>
  </div>   
</div>
<br/>
<div class="card-deck">
  
</div>
<p class="uiKit-ConfirmLoad">{{testingConfirmTag}}</p>