@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.distance-16 {
  margin-top: 16px !important;
}

.messages {
  margin-left: 32px;
}

table {
  background-color: #d8d8d8;
}

td,
th {
  background-color: white;
}

code {
  font-size: 16px;
}

.mat-drawer-inner-container {
  margin-top: 64px;
  margin-bottom: -64px;
}

mat-sidenav.mat-drawer {
  overflow-y: hidden;
}

body > app-root > app-nav > .mat-toolbar-single-row {
  height: 64px !important;
  padding-top: 0 !important;
}

.full-height {
  min-height: calc(100vh - 64px);
  margin-bottom:10px;
}

.mat-nested-tree-node > li {
  display: contents;
}

.mat-nested-tree-node ul {
  margin-top: 0;
  margin-bottom: 0;
}

mat-tab-group, .mat-tab-body-wrapper {
  height: 100%;
}

.mat-toolbar.mat-primary {
  background: #3f51b5;
  color: #fff;
  background-color: #d71e2b;
  border-bottom: 4px solid #fcc60a;
}
.brand-image{
  margin-left:20px;
  margin-top:8px;
}