﻿<!-- nav -->

<app-header></app-header>

<div>&nbsp;</div>

<!-- main app container -->
<div class="container-fluid">

  <router-outlet></router-outlet>

</div>

<div>
  <br />
  <p class="confirmLoad">{{testingConfirmTag}}</p>
</div>

<app-footer></app-footer>
