

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WF Dynamic Forms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" routerLinkActive="active"><a routerLink="/json" class="nav-link">JSON Schema </a></li>
      <!-- <li class="nav-item" routerLinkActive="active"><a routerLink="/template" class="nav-link">Template Schema</a></li>       -->
    </ul>
    
  </div>
</nav>
<br/>
<div class="container-fluid">
  <div *ngIf="page === 'json'">  
    <form class="form-inline">        
      <input type="text" [(ngModel)]="schemaUrl" name="schemaUrl" class="form-control" placeholder="Load schema form URL">
      <button (click)="loadSchema()" class="btn btn-primary" style="margin-left: 5px">Load</button>
      <button *ngIf="schemaUrl" (click)="removeSchema()" class="btn btn-default" style="margin-left: 5px">Clear</button></form>
  </div>
</div>
<br/><br/>
<router-outlet></router-outlet>
