<div>
    <h2>OData Commands from the UI</h2>

    <div class="row">
        <div class="col">
<button class="btn btn-success" (click)="testGet()">Get Request</button>
    <br />
        </div>
        <!-- <div class="col">
            <button class="btn btn-primary" (click)="testPost()">Post Request</button>
    <br />
        </div>
        <div class="col">
            <button class="btn btn-secondary" (click)="testPut()">Put Request</button>
    <br />
        </div>
        <div class="col">
             <button class="btn btn-warning" (click)="testPatch()">Patch Request</button>
    <br />

        </div>
        <div class="col">
            <button class="btn btn-danger" (click)="testDelete()">Delete Request</button>
    <br />
        </div>-->
    </div> 
    <br/>

    

    

   
    

    <h3>Request results will be displayed here</h3>
    <pre>{{requestResult | json}}</pre>
</div>