<div class="row">
   <div class="col">
      <img [src]="imageToShow" alt="Place image title" [src-fallback]="workingPlaceholder">      
   </div>
</div>
<br/>
<button class="btn btn-primary btn-sm" type="button" (click)="getImageFromService()">Fetch Another Image</button>



