<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OData - CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/customer" routerLinkActive="active">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people" routerLinkActive="active">People</a>
        </li>        
      </ul>     
    </div>
  </nav>

  <br/>