

/*#region GeneralLayout*/

.brand-image{
  margin-right:20px;
}

a { cursor: pointer }

main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .bg-dark{
    background-color:#d71e2b!important;
  }
  .navbar{
    border-bottom: 4px solid #fcc60a;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .45rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0rem;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #d71e2b;
}

  /* #endregion GeneralLayout*/

  /*#region DataTableFormatting*/

  @media screen and (max-width: 900px) and (min-width: 550px) {
		.priority-5{
			display:none;
    }
    .priority-6{
			display:none;
    }
    .priority-7{
			display:none;
		}
	}
	
	@media screen and (max-width: 550px) {
    .priority-7{
			display:none;
    }
    .priority-6{
			display:none;
		}
    .priority-5{
			display:none;
		}
		.priority-4{
			display:none;
		}
	}
	
	@media screen and (max-width: 300px) {
    .priority-7{
			display:none;
    }
    .priority-6{
			display:none;
		}
    .priority-5{
			display:none;
		}
		.priority-4{
			display:none;
		}
		.priority-3{
			display:none;
		}		
	
	}
/* #endregion DataTableFormatting*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
