<!-- nav -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="currentUser">
    <a class="navbar-brand" href="/"><img class="brand-image" src="../assets/homepage-horz-logo.svg" width="211" alt="wells fargo logo" title="wells fargo logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#scvsNavbar" aria-controls="scvsNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="scvsNavbar">
      <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/">Home</a>      
        <a class="nav-item nav-link" routerLink="/customer" routerLinkActive="active">Customer CRUD API</a>  
        <a class="nav-item nav-link" routerLink="/odata" routerLinkActive="active">Odata Sample</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active">UI Kit</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#" routerLink="/ui-kit" routerLinkActive="active">Components</a>
            <a class="dropdown-item" href="#" routerLink="/form-layout" routerLinkActive="active">Form Layout</a>           
          </div>
        </li>
        <a class="nav-item nav-link" routerLink="/techdocs" routerLinkActive="active">Tech Docs</a>                 
        <a class="nav-item nav-link" (click)="logout()">Logout</a>        
      </ul>
      <!-- <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form> -->
    </div>
  </nav>

