<form class="example-form">
  <mat-form-field class="example-full-width">
<!-- #docregion input -->
    <input matInput type="text"
           placeholder="Pick one"
           aria-label="Number"          
           [formControl]="myControl"
           [matAutocomplete]="auto" name="myControl">
<!-- #enddocregion input -->
<!-- #docregion mat-autocomplete -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
<!-- #enddocregion mat-autocomplete -->
  </mat-form-field>
</form>