<div class="container-fluid">
  <span><h2>Customers</h2></span>
  
  <div class="row">
    <div class="col-md-6 table-responsive">
      <span class="float-right">Filter: <input #search type="search" /></span><br/><br/>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let c of customers$ | async">
            <tr>
              <td>
                <a href="#" (click)="onCustomer(c.firstName)">{{ c.firstName }}</a>
              </td>
              <td>{{ c.firstName }}</td>
              <td>{{ c.lastName }}</td>
              <td>{{ c.email }}</td>
              <td>{{ c.phone }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h3>Customer Details</h3>
      <div class="form-group">

        <form [formGroup]="formGroup" (ngSubmit)="onSave()">
          <div>
            <label for="firstName">firstName</label>:
            <input formControlName="firstName" class="form-control" id="firstName" type="text" />
          </div>
          <div>
            <label for="lastName">lastName</label>:
            <input formControlName="lastName" class="form-control" id="lastName" type="text" />
          </div>
          <div>
            <label for="email">email</label>:
            <input formControlName="email" class="form-control" id="email" type="text" />
          </div>
          <div>
            <label for="phone">phone</label>:
            <input formControlName="phone" class="form-control" id="phone" type="text" />
          </div>
          <div class="buttons">
            <button type="submit" [disabled]="!formGroup.valid">Save</button> |
            <button type="button" (click)="onCancel()">Cancel/Reset</button>
            <span *ngIf="formGroup.get('firstName').value">
              |
              <button type="button" (click)="onRemove(formGroup.get('firstName').value)">
                Remove
              </button></span>
          </div>
        </form>
        <div *ngIf="message$ | async as msg">
          <h5>Messages</h5>
          <p>{{ msg.message }}</p>
        </div>
      </div>
    </div>
  </div>

</div>