<form [formGroup]="stateForm">
  <mat-form-field>
    <input type="text"
           matInput
           placeholder="States Group"
           formControlName="stateGroup"
           required
           [matAutocomplete]="autoGroup">
<!-- #docregion mat-autocomplete -->
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
<!-- #enddocregion mat-autocomplete -->
  </mat-form-field>
</form>