<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li><li class="breadcrumb-item active" aria-current="page">Customers</li>
  </ol>
</nav>
<app-alert></app-alert>
<div class="row">
  <div class="col-md-8">    
      <div class="card">
        <h5 class="card-header">List of Customers</h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>                  
                  <th scope="col" class="priority-1">First Name</th>
                  <th scope="col" class="priority-3">Last Name</th>
                  <th scope="col" class="priority-4">Email</th>
                  <th scope="col" class="priority-5">Phone</th>
                  <th scope="col" class="priority-6">Address</th>
                  <th scope="col" class="priority-7">Loans</th>
                  <th scope="col" class="priority-2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers">
                  <td class="priority-1">{{customer.firstName}}</td>
                  <td class="priority-3">{{customer.lastName}}</td>
                  <td class="priority-4">{{customer.email}}</td>
                  <td class="priority-5">{{customer.phone}}</td>
                  <td class="priority-6">{{customer.address}}</td>
                  <td class="priority-7">{{customer.loans}}</td>
                  <td class="priority-2">
                    <button type="button" class="btn btn-link" (click)="edit(customer)">Edit</button>&nbsp;
                    <button type="button" class="btn btn-link" (click)="delete(customer)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   </div>
  
    <div class="col-md-4">     
      <div class="card">
        <h5 class="card-header">Add / Edit a Customer</h5>
        <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && save(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" [(ngModel)]="customer.firstName" id="firstName" name="firstName" #firstName="ngModel" required
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" placeholder="">
              <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">First name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" [(ngModel)]="customer.lastName" id="lastName" name="lastName" #lastName="ngModel" required
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" placeholder="">
              <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" [(ngModel)]="customer.email" id="email" name="email" #email="ngModel" required
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="">
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" [(ngModel)]="customer.phone" id="phone" name="phone" #phone="ngModel" required
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" placeholder="">
              <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                <div *ngIf="phone.errors.required">Phone is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" [(ngModel)]="customer.address" id="address" name="address" #address="ngModel" 
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" placeholder="">
              <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="loans">Loans</label>
              <input type="text" [(ngModel)]="customer.loans" id="loans" name="loans" #loans="ngModel"
                class="form-control" [ngClass]="{ 'is-invalid': f.submitted && loans.invalid }"
                placeholder="">
              <div *ngIf="f.submitted && loans.invalid" class="invalid-feedback">
                <div *ngIf="loans.errors.required">Loan info is required</div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-add-brand">Save</button>
              &nbsp;
            <button type="reset" class="btn btn-secondary btn-add-brand" (click)="cleanForm(f)">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <p class="customer-ConfirmLoad">{{testingConfirmTag}}</p>
  </div>
  
 