<mat-toolbar color="primary" class="mat-elevation-z8">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span><img class="brand-image" src="../../assets/images/homepage-horz-logo.svg" width="211" alt="wells fargo logo" title="wells fargo logo"> &nbsp; Angular PDF Viewer. Angular {{angularVersion}}, pdf.js {{pdfjsVersion}}, and ngx-extended-pdf-viewer {{version}}.</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container distance-48">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>About</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'intro'">What is ngx-extended-pdf-viewer?</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'alternatives'">Alternatives</a>
    </mat-nav-list>

    <mat-toolbar>Documentation</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'getting-started'">Getting started</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'troubleshooting'">Troubleshooting</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'attributes'">Attributes and events</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'customization'">Customizing the menus (2.0.0)</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'keycloak'">Keycloak</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'pdfjs-versions'">Choosing a pdf.js version</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'options'">default options</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'range-requests'">Range requests</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'changelog'">Changelog</a>
    </mat-nav-list>

    <mat-toolbar>Demos</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'simple'">Simple demo</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'base64'">Base64 encoded files</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'multiple-documents'" class="long-text">Switching between documents</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'mobile'">Mobile devices and responsive design</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'touch-gestures'">Touch gestures (experimental)</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'smartphone'">Smartphones</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'contextmenu'">Context menu</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'export'">Export as text or image</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'hiding-buttons'"  class="long-text">Customizing the buttons</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'custom-toolbar'"  class="long-text">Custom toolbars and menus (2.0.0)</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'custom-sidebar'"  class="long-text">Custom sidebar (4.0.0)</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'custom-thumbnails'"  class="long-text">Custom thumbnails (4.0.0)</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'display-options'">Display options (2.0.0)</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'links'">Links</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'keyboard'">Keyboard</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'i18n'">Internationalization</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'pages-loaded'">Events</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'textlayer'">Text layer</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'find'">Find programmatically</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'perfect-scrollbar'">Perfect scrollbar</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'zoom'">Zoom</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'custom-print-dialog'">Custom print progress</a>
      <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'print-range'">Print API and print range</a>
      <p style="height:5em">&nbsp;</p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="with-border full-height">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
