<p>
    <!-- #docregion mat-badge-overlap -->
      <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
    <!-- #enddocregion mat-badge-overlap -->
    </p>
    
    <p>
    <!-- #docregion mat-badge-size -->
        <span matBadge="1" matBadgeSize="large">Text with large badge</span>
    <!-- #enddocregion mat-badge-size -->
    </p>
    
    <p>
      Button with a badge on the left
    <!-- #docregion mat-badge-position -->
      <button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
      </button>
    <!-- #enddocregion mat-badge-position -->
    </p>
    
    <p>
        Button toggles badge visibility
    <!-- #docregion mat-badge-hide -->
        <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
            Hide
        </button>
    <!-- #enddocregion mat-badge-hide -->
    </p>
    
    <p>
      Icon with a badge
    <!-- #docregion mat-badge-color -->
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- #enddocregion mat-badge-color -->
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
    </p>
    
